[2014-11-01 18:26] ProPheT777 opened #5 "How handle dynamic topic ?"
Hi,

Simple question, how can I handle dynamic topic ? Simple use case, when you have a chat and you allow your client to create new room. Each room is a topic and when people enter in it, they subscribe to this room and publish.

I'm blocked with this feature because of @Subscribe("chat/room1"), how handle chat/roomX ?

Currently I dont find a way to do that.

[2015-01-08 16:20] mbonneau commented on #5
The latest commit (https://github.com/voryx/Thruway/commit/ba2166932c9e553980adf24e66e44f9cf3729f98) supports prefix matching.

[2015-01-08 16:20] #5 closed

[2015-02-20 16:41] pdesmarais opened #9 "Accessing the opened client's session from elsewhere"
Hi!

I'm trying to figure out how to do this...

I'm using a Symfony Command to start my Thruway Router AND initializing my Client at the same time (pretty much like in [ThruwayClientCommand](https://github.com/voryx/ThruwayBundle/blob/master/src/Voryx/ThruwayBundle/Command/ThruwayClientCommand.php) except that my copy is using my `SocketClient` class which itself extends `Thruway\Peer\Client`).

[2015-02-20 17:06] davidwdan commented on #9
You're suppose to be able to just get the `thruway.client` service and publish on that.  That service will check to see if there is an existing open connection, and if not, it'll create one.

[code]

However, that appears to be broken right now, because I refactored the config and didn't update that part.

I'll push up some changes in a little bit and add some instructions on how to configure it.

[2015-02-20 17:07] pdesmarais commented on #9
Ok, cool! Thanks @davidwdan !

[2015-02-20 17:21] pdesmarais commented on #9
@davidwdan I don't want to put any pressure by asking this. When you say "in a little bit", you mean sometime today or within the next few days of few weeks? ;)

Just want to manage my expectations. :)

Thanks again for your help!

[2015-02-20 17:37] davidwdan commented on #9
I just pushed them up.

You'll need to add some settings to your config:

If you're using authentication, then you'll need to add a `trusted_port` to the router config and add a `trusted_uri` setting.

[code]
If you're not using authentication, you can just set the `trusted_uri` to your router's ip and port.

If you need to publish to the router from a php script (or any other language) that is no

[2015-02-20 18:09] pdesmarais commented on #9
Hey @davidwdan !

This works fine!

The only thing I see is that the client doesn't seem to be honoring the `enable_logging: false` that I have set in the config. I've seen the same thing when starting my `SocketServerCommand` but not always. Sometimes it just logs
[code]

Do you have any idea what makes it behave like that? Should I create another issue for this?

Thanks!

[2015-02-20 18:18] davidwdan commented on #9
Glad it's working.

Yeah, go ahead and open an issue for that.  It is something that needs to be addressed.  In the meantime, if you want to disable logging, you can add the follow line at the top of your `execute` method in your command or in any controller or service that you want to disable the logging for.

[code]

[2015-02-20 18:19] pdesmarais commented on #9
Ok, cool.

I'll do that.

Thanks a lot!

[2015-02-20 18:19] #9 closed

[2015-03-18 02:56] cipherchien opened #10 "What is "locations" used for?"
Dear Sir,

I just try to implement to my project, but I can't figure out what "locations" setting in config.yml is used for.
May I have an example or some tips?
thanks.

    locations:
        bundles: ["AppBundle"]
        files:
            - "Acme\\DemoBundle\\Controller\\DemoController"

[2015-03-18 13:20] davidwdan commented on #10
This bundle uses annotations to add WAMP actions to methods.  The `locations` config option tells the bundle where to looks for those annotations.  You can either specify a bundle name, in which case, the entire bundle is scanned for those annotations or the name space of individual files.

[2015-03-18 15:37] monkey3d opened #11 "Change IP Router"
Hi,
I would change in config.yml the default ip (127.0.0.1) that the router should start on.
But in this case, when i start with the command by default : nohup php ... the router don't start with the log message : could not connect : connection refused.
My OS Server is Fedora 21 and firewalld is disabled for testing.

Any idea ?

Thanks

[2015-03-18 15:46] davidwdan commented on #11
You'll need to tell the workers to connect to the router on the new address.  The default is `127.0.0.1`.

[code]

[2015-03-18 16:24] monkey3d commented on #11
Thank you. It's ok !

Perhaps, add this parameter in configuration readme.

[2015-03-18 16:30] davidwdan commented on #11
I'm glad it's working.  The config settings are still evolving, so that setting will probably change in the near future.

[2015-03-18 16:30] #11 closed

[2015-03-20 01:15] cipherchien commented on #10
Oh~，I got it.  so, If I set up a controller with some annotations, such like: Subscribe. The controller will handle the request from front-end.

thank your reply and your genius works.

[2015-03-20 01:15] #10 closed

[2015-03-20 09:27] monkey3d opened #12 "Update Readme"
Hi,
A small contribution.

use Voryx\ThruwayBundle\Annotation\RPC; cannot be resolved.
---------------------------------------------------------------------------------
/**
  * @Worker("chat", maxProcesses="5")
  */
  class ChatController

need  : use Voryx\ThruwayBundle\Annotation\Worker;
--------------------------------------------------------------------------------
Thank you.

Sorry for my eng

[2015-03-20 13:15] davidwdan commented on #12
Good catch.  I made those changes.

[2015-03-20 13:15] #12 closed

[2015-03-25 08:09] cipherchien opened #13 "How to avoid wired response message show in backend?"
Hi,

I try to develop a web chat system with ThruwayBundle, but I got a stuck situation.
When I try to publish message in backend, I got some wired response message.

![screenruler-e824e513-0bd3-4ca5-846f-367f6568cc41](https://cloud.githubusercontent.com/assets/1157044/6820342/ebb3e5a4-d308-11e4-9506-09669c852f6e.png)

my backend code in Symfony:
[code]

My question is How to avoid that messages?

[2015-03-25 13:44] davidwdan commented on #13
Try adding this above your backend code: `Logger::set(new \Psr\Log\NullLogger());`.

The `enable_logging` flag doesn't do anything right now.

[2015-03-26 01:52] cipherchien commented on #13
Thank you so munc and reply so quickly.
here is my code, for someone who also need it.

[code]

[2015-03-26 01:52] #13 closed

[2015-03-26 02:20] cipherchien opened #14 "How to know the active connections?"
Hi,

I try to develop a web chat system with ThruwayBundle and I got a advanced question.

How to know the active  connections?

The example situation:
If one topic has three users,  A, B, C.  if user A and B are stay in chatroom, but user C didn't.
When the chat system publishes a message in backend, if I can get active connections then I will know user C is not receive the message, so I can use

[2015-04-09 08:45] cipherchien opened #15 "How to use Register with location setting?"
Hi,

I try to use a register controller, but I got some problems.
Here is my config setting and code:

[code]
and the controller:
[code]
the client side code:
[code]

If the action is like this, the register can work and the client can response the response data.
[code]

What's error with my code?
And how to get container service in Register action?

Thank you.

[2015-04-09 08:55] cipherchien commented on #14
I think I figure out how to get the online connections.

I try to set a Register in backend server and set a Call in front-end.
When user open the chatroom page, the Call will trigger Register to store user data in backend.
And when user close the page, another Call will trigger another Register to remove user data in backend.

I's simply solution, but I think it's work.

[2015-04-09 08:55] #14 closed

[2015-04-09 14:00] davidwdan commented on #15
What type of authentication are you using?

[2015-04-09 14:02] cipherchien commented on #15
I found the solution.

[code]

then I rewrite my Register code:
[code]

[2015-04-09 14:08] cipherchien commented on #15
I haven't implement authentication yet.  If I use authentication, the solution will make different?

[2015-04-13 04:30] #15 closed

[2015-04-13 05:20] cipherchien opened #16 "How to catch Connection.onclose event?"
Hi,

In AutobahnJS, I can use Connection.onclose this callback to catch the event.
Is it possible catch the same event with ThruwayBundle?

Thank you.

[2015-04-13 07:45] cipherchien commented on #16
I found this:

https://github.com/voryx/Thruway/blob/master/Examples/SimpleClient.php
[code]

Is it possible have the config setting like this?

thank you.

[2015-04-13 13:54] davidwdan commented on #16
You can listen to the close event on the `Client` like this:

[code]

[2015-04-14 03:00] cipherchien commented on #16
It is not work..., I can't catch the event when user close his browser.
here is my code:  (I made a console command for testing)
[code]

The result is it can't catch the event. I think the answer is:
The client with voryx.thruway.client and the client with thruway.client are independence.

May I have another solution? or just put it in my xmas wish list.

Thank you.

[2015-05-28 15:40] zanderbaldwin opened #19 "Documentation/Examples"
Stumbled across this repo by accident and it's an absolutely brilliant effort for the shortfalls of Ratchet!

Is there any chance that documentation could go with this?

If not, is there an example that combines all of the advanced topics for a server-side router, that includes authentication, realms, pubsubs, RPC, etc.?
Might have a go at writing some docs for this if I understood it better :)

[2015-05-28 15:41] zanderbaldwin commented on #19
Ignore me. On the wrong repo :sob:

[2015-05-28 15:41] #19 closed

[2015-05-29 14:37] mbonneau opened #20 "Duplicate RPC registrations on different workers"
Would be nice to get a warning or something if you have different workers registering the same RPC.

[2015-06-05 08:39] inwaar opened #21 "Async user provider"
It would be nice, to have some kind of async user provider or some configured WAMP procedure for that, something like the crossbar.io fetches the credentials  (http://crossbar.io/docs/WAMP-CRA-Authentication/#dynamic-credentials)

Suppose, I want to have separate app that responsible only for the authentication and all user stuff.

At this moment, for the authorization I need the user provider in

[2015-06-25 03:31] mbonneau opened #22 "Classes that take arguments cause issues if picked up by file scan"
We need to skip files that take constructor arguments during the file scan. Possibly warn the user that they need to create a service for it and tag it with thruway.resource.

[2015-06-25 09:24] tacman opened #23 "Verbosity, path to error log (Feature Request)"
I'm getting an error when starting the thruway process
[code]

Unfortunately, I can't find the log in /var/log, or in the directory I started with, or even know the name of the log (I assume it's thruway.log).  So some feature requests:

* replace "see log for more" with "see log [FILENAME] for more"
* instead of "Error", some slightly more detailed error -- "Port Unavailable", "Bad Service", etc.

[2015-07-08 15:07] mbonneau opened #24 "Tell the user if the trusted port and the regular port are the same"

[2015-08-29 20:02] davidwdan opened #25 "Add a disclosePublisher option to the Subscribe annotation"

[2015-10-29 12:58] patie opened #28 "How call/publish from another service/controller"
Hi,

i have registered some wamp methods in php, when i call it from javascript works great, this also work in the same controller where are methods registered

but

when i need call it from another service/controller (i need publish, or call call with publish in), i give error like this - wamp.error.not_authorized

2015-10-29T13:11:42.1927460 notice [Thruway\Peer\Client 22073] Changing PHP precis

[2015-10-29 13:17] mbonneau commented on #28
Hi @patie ,

I am not exactly sure what your configuration is, but I suspect that you are connecting to the port that requires authentication.

When you configure Thruway with the bundle, it will create 2 ports, one is a trusted port. You should use the trusted port with these services which will have authorization to do anything.

[code]

The clients (your php services) will connect to voryx_thru

[2015-10-29 13:51] patie commented on #28
my conf looks like this, 0.0.0.0 can be, also 127.0.0.1, the same result

[code]

how can i initiate client for trusted port?

$this->get('thruway.client')->call('someRegisteredMethod',[]); dont work, because wamp.error.not_authorized

[2015-10-29 14:06] patie commented on #28
when i added trusted_url looks like its working now, like this

[code]

but when i have $this->get('thruway.client')->call('someRegisteredMethod',[]); in controller, return echo to respone (i see it in generated page on begin), its normal ? :)

[2015-10-29 14:30] davidwdan commented on #28
@patie see if this fixes that issues:  https://github.com/voryx/ThruwayBundle/issues/13

[2015-10-29 14:40] patie commented on #28
@davidwdan yep, its little weird, but works, thanks again for great support :)

[2015-11-03 14:01] #28 closed

[2015-11-07 17:41] Jitra opened #29 "How to set roles from FOSUserBundle user roles and set featchers in accordance to role"
I am using FOSUserBundle to authenticate users. I am able to log in but I wonder how could i set to each user their roles from database and in accordance to role allow publish, subscribe or call specific procedures.

[2015-12-01 09:53] stingus opened #30 "How to use the AuthorizationManager"
When starting the router with `thruway:router:start` or `thruway:process`, the default AutorizationManager is `AllPermissiveAuthorizationManager`. I want to: either use the default AuthorizationManager or build a custom one, since I have the exact same requirements as https://github.com/voryx/ThruwayBundle/pull/26 (not merged yet). Is there any better way to do this except creating a new command a

[2015-12-02 13:43] davidwdan commented on #30
@stingus I merged #26.  Let me know if need anything else.

[2015-12-03 16:01] stingus commented on #30
Thanks @davidwdan, works like a charm.

[2015-12-03 16:01] #30 closed

[2015-12-04 17:16] davidwdan commented on #23
All command exceptions are now outputted to the console.  There's still more logging work that needs to be done, so I'm going to leave this open.

[2015-12-05 00:52] Jitra opened #31 "How to prevent RPC registered on server from disappearing"
I registered RPC on server with annotation
[code]
 and I can call it but when I leave let's say for 5-10 minutes it is no longer available and I must restart server to make it available again.

To run server I am using command:
[code]

[2015-12-06 02:04] davidwdan commented on #31
@Jitra can you share the `voryx_thruway` portion of your config?

[2015-12-07 11:48] Jitra commented on #31
[code]
With this configuration I don't have that issue on my localhost the only change on my production is  url: 'ws://production.net:8081/games'. Probably it's my production server's fault somehow. I succeeded to avaid this issue by sending some test data to my rpcs every minute.

[2015-12-07 14:03] davidwdan commented on #31
Not sure if this will fix it or not, but you probably want to set `url` and `trusted_url` to `ws://127.0.0.1:8081`

[2016-02-01 22:40] fpasquet opened #32 "This bundle is not yet compatible with Symfony3"
This problem comes from the librairy guzzle/guzzle.

[2016-02-03 17:45] saidmoya12 commented on #32
Same issue

[2016-02-03 18:52] davidwdan commented on #32
I'm going to reopen this.   There are a couple of compatibility issues with Symfony3, which we're working on.

[2016-02-03 18:56] davidwdan commented on #32
The main issue is with the scope prototype service option which was deprecated in 2.8 (replaced with `share`) and removed in 3.0.  If at all possible I want to keep backwards compatibility to 2.7.

[2016-02-03 21:22] #32 closed

[2016-02-03 21:24] davidwdan commented on #32
@fpasquet and @saidmoya12 I just made some changes for this.  Can you test it out?  You'll still get the guzzle warning, but everything else should work.

[2016-02-29 14:08] fdydk opened #35 "examples"
can i find any examples for registering a topic ?

[2016-02-29 15:16] stingus commented on #35
Do you mean subscribing to a topic (as in PUB/SUB)? Or registering a procedure (as in RPC)?

[2016-02-29 20:55] fdydk commented on #35
how to register a topic as in pubsub

[2016-02-29 20:59] davidwdan commented on #35
You can subscribe with the `Subscribe` annotation.  For more information see: https://github.com/voryx/ThruwayBundle#subscribe

[2016-02-29 21:22] fdydk commented on #35
yes sure but i mean how to register the topic "the php class containing the subscribe  and publish method etc", what is the way to tell that this class is a topic

[2016-02-29 21:39] davidwdan commented on #35
I guess I don't understand what you're asking.  You don't need to create a class to handle subscribe and publish.  You can just publish on or subscribe to a topic and the wamp router will handle everything else.

[2016-03-01 02:35] fdydk commented on #35
u mean that i can add the subscribe and publish methods to a controller? i thought i have to create a service for that and register it somewhere

[2016-03-01 02:43] davidwdan commented on #35
That's right, when you run the command `php app/console thruway:process start` it'll scan the AppBundle (or whatever bundle you specify in the config) for the annotations and wire everything up for you.

[2016-03-01 02:55] fdydk commented on #35
and in the publish method what is com.myapp.hello_pubsub ?

    public function publish($value)
    {
        $client = $this->container->get('thruway.client');
        $client->publish("com.myapp.hello_pubsub", [$value]);
    }

[2016-03-01 03:02] davidwdan commented on #35
`com.myapp.hello_pubsub` is the topic URI.  That can be whatever you want it to be as long as it's alphanumeric with period and underscores. Other clients can subscribe on that topic.

[2016-03-01 03:03] fdydk commented on #35
ah so this is the same as in the annotation of the subscribe method, thanks a lot

[2016-03-01 03:03] #35 closed

[2016-03-14 09:01] vodoo22 opened #36 "publish method argument"
$client->publish("com.myapp.helloPubSub", [$value]);

when i send the value parameter anything other than array it doesn't work, any idea why?

[2016-03-14 13:07] davidwdan commented on #36
That can probably be a bit clearer, but the second argument needs to be an array of arguments.

[2016-03-17 14:59] mgiraud opened #37 "Guzzle 3.9 compatibility issue with Symfony 3"
Guzzle 3.9 uses symfony/event-dispatcher ~2.1 which is not statisfiable by symfony 3.0.3

[2016-03-20 08:37] vodoo22 opened #38 "dynamic topic"
how can dynamic topics be handled?

[2016-03-20 12:08] davidwdan commented on #38
I'm not exactly sure what you mean.  Can you provide an example of what you're trying to do?

[2016-03-26 03:43] mikeysteele opened #39 "PHP client not connecting to server, not sure how to debug"
Hi,

I have a problem where publishing from the PHP client doesn't work. There's no obvious errors, the client just doesn't appear to connect to the router.  Clients connected using Autobahn.js work fine

Here is my config

[code]
And here is the line in my controller which is supposed to send the message:
[code]

I'm guessing the connection fails for some reason between the PHP client and the ser

[2016-03-28 13:15] davidwdan commented on #39
@mikeysteele That doesn't give me a lot to go on.  Can you create a sample project with the minimum amount of code and steps to reproduce the problem?  Make sure you include the composer.lock file.

[2016-03-28 13:25] davidwdan commented on #37
Guzzle 3.9 is a Ratchet dependency.  The [0.4](https://github.com/ratchetphp/Ratchet/tree/0.4) version of Ratchet removes that dependency, so when it's released, we'll be able to fix this.

[2016-03-28 13:27] davidwdan commented on #31
@Jitra I'm going to close this issue.  If you're still having problems, feel free to re-open it.

[2016-03-28 13:27] #31 closed

[2016-03-29 06:49] mikeysteele commented on #39
I've actually found the problem:

The ClientManager uses the trusted_url config option, not url. Changing my config to have trusted_url fixed the problem

[2016-03-29 06:49] #39 closed

[2016-06-17 07:32] TNAJanssen opened #40 "Integrate https://github.com/LongRunning/LongRunning"

[2016-08-18 14:29] NewOldMax opened #41 "Push message to specific user"
Hi!

I'm trying to implement notifications in my project. My use case:
User 1 creates Task 1 and subscribes to "tasks" channel.
User 2 edits Task 1 and subscribes to "tasks" channel.
User 1 must receive notification about task edit, and User 2 should not receive this notification.

I see in docs:
[code]
But as I understand, this code publishes message to all subscribed users.

Is there a way to pu

[2016-08-18 14:38] davidwdan commented on #41
You can use the `_thruway_eligible_authids` option:

```PHP $client->publish("com.myapp.hello_pubsub", [$value], null, ["_thruway_eligible_authids"=>[$authid]]);```

You can also publish to specific roles with the `_thruway_eligible_authroles

[2016-08-18 14:54] NewOldMax commented on #41
Hi, @davidwdan

Thanks for answer. I tried your solution, but messages still published to all connected users, not for specific authid.

[2016-08-18 14:58] NewOldMax commented on #41
My client setup (ReactJS)
[code]
And I tried
[code]

[2016-08-18 17:23] stingus commented on #41
Use a separate channel for each user, for example "com.myapp.hello_pubsub.12345", where 12345 is the user id. Don't forget to use the authorization manager to check the permissions to subscribe to individual channels. I have a similar notification system in place and it works really well.

[2016-08-19 00:38] mbonneau commented on #41
I have tested the following using the WampCRA router in the Examples folder and found it to properly publish to only selected authids:
[code]
I then added this to WampCraLogin.html:
[code]

Please note that this feature with be updated to match the current spec (`eligible_authid`) in the future. (we will deprecate the `_thruway_eligible_authids` for the next version prior to removable)

[2016-08-19 08:20] NewOldMax commented on #41
It strange, but your example the same sends message to all users (not only for 'peter') :(

Can you share full code of your example? (i don't see WampCraLogin.html file)

[2016-08-19 08:41] NewOldMax commented on #41
@stingus , in you solution, how you defined subscribe routes? I think i can't use something like
[code]

[2016-08-19 12:33] NewOldMax commented on #41
@davidwdan , @mbonneau , please, look at last update, if you have time.

[2016-08-20 11:48] davidwdan commented on #40
Thanks @TNAJanssen this looks like something worth looking into.

[2016-08-20 12:00] davidwdan commented on #41
@NewOldMax What version of Thruway are you using?

Adding a `-` to the regex will violate WAMP's strict URI conventions, which is what Thruway uses.

[2016-08-20 12:00] #38 closed

[2016-08-20 12:01] #37 closed

[2016-08-20 12:01] #36 closed

[2016-08-20 12:07] NewOldMax commented on #41
I'm not specify version of Thruway, only install ThruwayBundle. In composer.lock Thruway version is 0.3.1

If there is a way to override regex for my use case? Or only use fork?

[2016-08-20 12:16] davidwdan commented on #41
The ability to publish to specific users was added in [0.3.4](https://github.com/voryx/Thruway/releases/tag/0.3.4).  You should upgrade Thruway to at least that version.

[2016-08-22 07:24] NewOldMax commented on #41
Successfully upgraded to 0.3.10 and all issues gone. You can close this issue now.

[2016-08-31 20:46] saidmoya12 opened #42 "Authentication no work."
I cannot enable the cra auth with FOSUserBundle.

Platform
Symfony 3.1
FOSUserBundle dev/master

[code]

[code]

[code]

[2016-09-01 11:04] #41 closed

[2016-09-05 17:21] #42 closed

[2016-09-11 21:01] helmuthva opened #44 "getting authentication errors"
after thruway bundle runs longer than a few minutes.

any ideas? will debug as soon as i know this is not known / you are working on this.

[2016-10-12 09:57] stingus opened #45 "Kernel is not registered in Worker"
I have a worker which throws the following exception: "You have requested a synthetic service ("kernel")". The DIC does not know how to construct this service.". After some debugging, it seems that the container used in the worker controller does not have the "kernel" service registered. The thruway_client service has the kernel service, but is not available in the controller. The kernel service i

[2016-10-12 12:55] davidwdan commented on #45
@stingus can you provide the code I need to reproduce the error?

[2016-10-12 13:42] stingus commented on #45
Not my actual setup but it reproduces the error:

[code]

I'm calling the templating service, which loads twig, which loads file_locator service. The last one crashes when it injects the kernel, which is not present in the container.

[2016-10-24 12:20] NewOldMax opened #46 "Connection lost after idle"
Hi!
I use your bundle and autobahnjs to create real-time web app. All works fine, but after some idle time connection between client and server lost.
I get on frontend:

[code]

And on backend:

[code]

After this subscription doesn't exists.

Is there a way to avoid this without resubscribe? For example, send some pings from server to client.

[2016-10-28 03:57] mbonneau opened #47 "`Worker` needs to be qualified differently if using pthreads"
If you have the pthreads extension enabled, the `@Worker` annotation may not work properly.

You may receive the error:
[code]
This is because pthreads has a `Worker` class in the global namespace and Doctrine Annotations gets confused.

You can work around this issue by using a differently qualified annotation (use the full namespace for example: `@Voryx\ThruwayBundle\Annotation\Worker("my_worker

[2016-10-28 03:57] #47 closed

[2016-11-15 20:57] saidmoya12 opened #48 "Exception AuthorizationManager is now a module"
I', trying to use a custom AuthorizationManager but shown the message
AuthorizationManager is now a module.

How can use a custom authentication for actions?

Thanks

[2016-11-17 15:15] jonday-simitive commented on #45
Did anything further happen with this issue, we are experiencing the same issue with Symfony 2.8.13 ...

[2016-11-25 12:06] jonescomas opened #49 "Support for Symfony3.x"
Please add support for Symfony3.x

[2016-11-28 13:11] davidwdan commented on #49
What doesn't work with Symfony 3?

[2016-11-28 13:12] davidwdan commented on #48
Can you post your router code?

[2016-11-28 13:15] davidwdan commented on #46
You can create a ping by creating a topic that you publish to periodically.

[2016-11-28 13:25] NewOldMax commented on #46
I think it's little dirty, not?

[2016-11-28 13:31] davidwdan commented on #46
Yes it is.  The next version of Ratchet will support ping/pong, so this is just a temporary solution.

https://github.com/ratchetphp/Ratchet/pull/401

[2016-12-09 17:41] tacman opened #50 "JMS Serializer, API Platform and Thruway"
We're having issues running API Platform and Thruway together.  We've removed JMS Serializer from our project, and would prefer just to use Symfony's.

The problem is that Thruway installs JMS Serializer, which then uses the name 'Serializer'.

Is there a way to avoid this conflict?  We can fork it, but perhaps there's a way to set an alias or class of the Serializer?

[2016-12-09 18:03] davidwdan commented on #50
@tacman We can look into that.  I would like to get rid of the dependency on JMS Serializer.

Is the conflict with the `serializer` service?

[2016-12-09 18:12] kcivey commented on #50
Yes, the problem is that the `serializer` service in this situation is the Symfony serializer, not JMS. Changing `id="serializer"` to `id="jms_serializer"` in services.xml in ThruwayBundle fixes it, so it would be good to have a configuration option for setting the serializer.

[2016-12-09 18:20] mbonneau commented on #50
The lowest supported version of JMSSerializerBundle encourages the use of `jms_serializer` so it would be safe to make that quick change and then if desired it could be made configurable.

[2016-12-09 18:59] #50 closed

[2016-12-09 19:38] kcivey commented on #50
Thanks!

[2016-12-16 14:12] saidmoya12 commented on #48
$router = new Router();
	$userDb = new WampUser($this->getContainer()->get('fos_user.user_manager'));
	//$userDb->add('demo', '1234', 'salt123');

	$router->registerModule(new AuthenticationManager());

	$authProvClient = new WampCraAuthProvider(["realm1"]);
	$authProvClient->setUserDb($userDb);
	$router->addInternalClient($authProvClient);

	$router->registerModule(new RatchetTransportProvider("1

[2016-12-30 20:49] pasblin commented on #49
hi ! composer.jon isny updated to symfony 3.x.
Regards

[2017-01-19 10:40] sproogen opened #51 "MySQL server has gone away"
Hi,

We are having this issue after an extended period of inactivity, usually overnight, where when the first query after this period is throwing this error `Warning: PDOStatement::execute(): MySQL server has gone away`

We put in a fix for this by closing and reopening the database connection but this just threw a new issue after the inactivity of `Warning: Error while sending QUERY packet.`

Has

[2017-01-19 10:56] stingus commented on #51
If you're using Doctrine, you can use the following:
`$em = $this->doctrine->getManager();
$dbalConn = $em->getConnection();
if (!$dbalConn->ping()) {
    $dbalConn->close();
    $dbalConn->connect();
 }`

I had the same issue and the ping() test fixed it. You just need to figure out where to place the test, like an entry point. I use it in an authentication provider (JWT), because all requests tr

[2017-01-19 11:15] sproogen commented on #51
Thanks @stingus, it looks like we were doing the close and connect at the start of an action but after the authentication call.

Having moved it to the start of out Authentication Provider it seems to be working.

[2017-01-19 11:20] #51 closed

[2017-02-24 12:37] khallouki opened #52 "add authorization for auto-created realm"
Hello,

I have a question. I managed to implement a authorization module for my router:

$authorizationManager = new \Thruway\Authentication\AuthorizationManager('01234');

$rule = new stdClass();
$rule->role = "teacher";
$rule->action = "register";
$rule->uri = "cnf.quiz.addstudent";
$rule->allow = true;

$authorizationManager->addAuthorizationRule([$rule]);

Whenever a new user is connecting and

[2017-02-24 19:20] tacman commented on #49
Can you replace this with the 2.6+ way?  It seems odd to support Symfony less than 2.6 but not support Symfony 3.

I'll make a PR

https://github.com/voryx/ThruwayBundle/blob/master/src/Voryx/ThruwayBundle/WampKernel.php#L488-L497

private function authenticateUser(UserInterface $user, ContainerInterface $container)
    {
        $providerKey = 'thruway';
        $token       = new UsernamePasswor

[2017-03-03 01:59] mbonneau commented on #49
@tacman Did the PR that @davidwdan merge fix this issue?

[2017-03-03 02:23] tacman commented on #49
Yep, thanks!

[2017-03-03 22:29] mbonneau opened #55 "thruway:debug errors when passing empty array as default argument in registration"

[2017-03-07 16:10] kcivey opened #56 "Avoiding extra processes with exec?"
The `thruway:process start` command ends up creating a pair of processes for the router and a pair for each worker: one for `sh` and one `php`. It's possible to avoid this on Unix-based systems by prepending `exec`:
https://github.com/reactphp/child-process#prepending-commands-with-exec

Would it make sense to have a configuration setting that would cause `exec` to be added before `$phpBinary` in

[2017-03-09 00:51] #56 closed

[2017-03-09 00:52] mbonneau commented on #49
@jonescomas - is this issue resolved with #43 ?

[2017-03-10 11:42] mike22 commented on #49
@davidwdan Hi. How can I install this bundle for Symfony3? I wasn't able to get past composer requirements control.
My composer.json

`{
    "name": "fooProject",
    "license": "proprietary",
    "type": "project",
    "autoload": {
        "psr-4": {
            "": "src/"
        },
        "classmap": [
            "app/AppKernel.php",
            "app/AppCache.php"
        ]
    },
    "autol

[2017-03-14 15:57] mike22 commented on #49
So it appears the solution is to add
`        "symfony/event-dispatcher": "3.0.2 as 2.1"
`
to require field in composer.json

[2017-03-14 18:42] karser opened #60 "make maxProcesses configurable for default worker"
For the default worker, the maxProcesses amount is 1.
We might make this configurable so we don't need always specifying @Worker("name", maxProcesses=<N>) annotation, @davidwdan WDYT?
https://github.com/voryx/ThruwayBundle/blob/a6310da7d9981648abf1141b7ef245ee0b4709ba/src/Voryx/ThruwayBundle/Command/ThruwayProcessCommand.php#L347

[2017-03-15 00:16] davidwdan commented on #60
@karser I think that's a good idea.  Care to make a PR?

[2017-03-17 13:15] roissard opened #61 "voryx_thruway.enable_logging doesn't act as expected"
When setting voryx_thruway.enable_logging flag to false, the code in VoryxThruwayExtension.php (L84-L86) is called only on the first run. When you relaunch the command a bit later, the log is still displayed on the console.

A suggestion would be to connect the Symfony 'logger' service to the Thruway\Logging\Logger so that the command can take benefit of -v -vv and -vvv options.

https://github.co

[2017-04-01 17:49] stingus opened #62 "jms/serializer-bundle version constraint"
Is there a reason for limiting the JMS serializer to 1.0.0?

[2017-04-01 17:58] stingus commented on #62
Nevermind, I was looking on the voryx/ThruwayBundle 0.1.0. I was able to satisfy my dependencies by switching to dev-master on both voryx/ThruwayBundle and voryx/Thruway.

[2017-04-01 17:59] #62 closed

[2017-04-18 17:44] BallisticPain commented on #49
@mike22 Thanks for sharing, but that's not a solution. It's a bandaid. Have we checked the version of Guzzle that supports the latest Symfony dispatcher? That's what will actually *fix* the issue. This isn't specifically a Thruway problem except it's requiring a version of Guzzle that relies on an old version of a Symfony component.

[2017-04-18 17:56] stingus commented on #49
Try to require dev-master on voryx/thruway:
"voryx/thruway": "dev-master"
There's no dependency to guzzle/guzzle in the master.

[2017-06-16 10:49] tacman opened #65 "Add logger configuration example to documentation"
If it's possible to use another PSR-3 logger, can you update the documentation to reflect how that's done, and also how to adjust the debug level.

Ideally --verbose (and --v, -vv, -vvv) would control the router and worker output in some way, but at least configurating it to not display INFO calls would make the output more useful.

[2017-06-20 10:29] Gemorroj commented on #49
Better use `"voryx/thruway": "^0.5@dev"` instead `dev-master`.

[2017-06-29 13:23] valepu commented on #46
I'm having this same issue. I launch the server from comand line and if i don't publish anything for some time (about 20-30 minutes) i get what looks like a log of all the previous calls on the console and the server just hangs (the process is active, but it doesn't accept connections anymore).
Following this suggestion i have made a topic where i publish every 5 minutes. Now it lasts some hours (

[2017-09-06 09:23] valepu opened #66 "Connection lost when idle even with "keep alive""
I've already submitted this issue in this topic: https://github.com/voryx/ThruwayBundle/issues/46
But since i got no answer i wanted to make a new issue for this.

I launch the server from comand line and if i don't publish anything for some time (about 20-30 minutes) i get what looks like a log of all the previous calls (just like in the other issue) on the console and the server just hangs (the

[2017-10-02 20:13] rsouverain-kaliop commented on #45
I just had a similar problem

[code]

[2017-10-03 08:10] jonday-simitive commented on #45
I can't remember the exact details of this because it was so long ago. I can tell you that the issue we had was because we had dependencies on services that injected `@session` in one of our registered resources. As I understand it you need to move your auth code into AuthProviderClient and use WAMP auth flow. Still not sure if you can get services that depend on session in the auth provider.

[2017-10-05 15:33] momopaper opened #67 "unable to publish to client from controller"
im trying to publish message to connecting client from server but client was unable to receive any msg from server, i try to use xdebug to debug the code, somehow ClientManager's publish function cant find wamp_kernel in the container and thus skip $session.publish(...) code, i not sure if i missed out any configuration

this is how i publish my msg from server controller
[code]
this is my browser

[2017-10-05 17:32] davidwdan commented on #67
What version of symfony are you using?

[2017-10-06 01:24] momopaper commented on #67
symfony 2.8

[2017-10-26 17:44] tortoisedoc opened #68 "thruway and docrtine"
Perhaps this is a newbie question; how can i provide doctrine.orm.default_entity_manager via dependency injection to my class (for example as construct parameter)? I tried the default approach, as in to declare my class in the services.xml and provide it as argument, but the parameter mapping does not seem to be applied. In fact, in the cache, the object is created as clean (i.e. no parameters). M

[2017-10-26 19:06] tortoisedoc commented on #68
Answered this myself; my class which exposes RPC calls should implement ContainerAwareInterface to get access to the container (and through that to everything else).

[2017-10-30 00:59] lethak commented on #45
Same here, I tried with symfony 2.8.12 and 2.8.28

[code]

as soon as I do from a worker/RPC:
[code]

I get

This is quite frustrating

[2017-10-30 21:00] mbonneau commented on #68
@tortoisedoc - Thanks for sharing the answer once you found it.

[2017-10-30 21:00] #68 closed

[2017-10-30 21:20] mbonneau commented on #16
Closing this issue because it has been inactive for a while.

[2017-10-30 21:20] #16 closed

[2017-10-31 21:24] tortoisedoc opened #69 "Update Thruway server component to latest (0.5?)"
Current version of Thruway server in the bundle is 0.4.

This version lacks Dealer role fix included last July
https://github.com/voryx/Thruway/commit/2927b397dfaf4597be37786506cccb120ad814bb

Please update to latest version.

[2017-11-09 11:03] tacman commented on #65
Is this even possible?  In production, we'd like to run bin/console thruway:router:start and (1) turn off INFO and (2) use a custom Logger (send the logs to Graylog, for example).

It appears this is supported (https://github.com/voryx/Thruway/issues/10), but I can't figure out how to pass in a Logger class (via services.yml) to the services that ThruwayBundle exposes.

[2017-11-20 13:36] tacman commented on #69
any updates on this?  We're prepping for the Symfony 3.4/4 release and trying to get all our libraries current.

[2017-11-20 22:08] davidwdan commented on #69
@tacman and @tortoisedoc can you test the latest dev-master?

[2017-11-22 14:56] davidwdan commented on #49
@jonescomas Can you please test out dev-master with symfony 3?

[2017-12-02 15:41] valepu commented on #66
So, it turns out that there were issues with reactphp/child-process on windows. Today i update all my dependencies and when I tried to run the command line for Thruway bundle it gave me an error that windows is not supported. I discovered that this was not caused by Thruway but by child-process.
Here the issues tied to this change
https://github.com/reactphp/child-process/issues?utf8=%E2%9C%93&q=w

[2017-12-05 13:46] tacman commented on #69
dev-master seems to be working fine for us.

[2017-12-13 07:55] darthf1 opened #71 "Support for Symfony4.x"
Is it planned to support SF4.0 in the near future?

[2017-12-14 18:22] darthf1 commented on #71
If i install the package in SF4.0 with Voryx/Thruway 0.5.1 I get:

[code]

[2017-12-14 18:35] mbonneau commented on #66
@valepu Glad to hear that is working for you.

[2017-12-14 18:35] #66 closed

[2017-12-30 20:50] PhilETaylor commented on #49
I cant get this installed with Symfony 3 either :(

![screen shot 2017-12-30 at 20 48 56](https://user-images.githubusercontent.com/400092/34457242-dfe2f942-eda2-11e7-8649-396ef0f7c762.png)

[2017-12-30 21:28] davidwdan commented on #49
@PhilETaylor can you try `dev-master`?

[2018-01-02 19:29] davidwdan commented on #71
I have no plans to support SF4.0 anytime soon.

[2018-01-02 19:29] #71 closed

[2018-01-02 19:30] davidwdan commented on #69
v0.3.0 has been released with support for Thruway 0.5.0

[2018-01-02 19:30] #69 closed

[2018-01-02 19:35] davidwdan commented on #67
If you're subscribing to a topic that you're also publishing to, you'll need to set the `exclude_me` option to `false`.
[code]

[2018-01-02 19:35] #67 closed

[2018-01-02 19:35] davidwdan commented on #49
v0.3.0 supports SF3

[2018-01-02 19:35] #49 closed

[2018-01-02 19:40] davidwdan commented on #40
Most of features that we would use from LongRunning are already part of this bundle, so I'm going to close this issue.

[2018-01-02 19:40] #40 closed

[2018-01-02 19:41] davidwdan commented on #46
Fixed in v0.3.0

[2018-01-02 19:41] #46 closed

[2018-01-02 19:46] davidwdan commented on #48
Make sure that your custom AuthenticationManager extends class extends RouterModuleClient and implements RealmModuleInterface.

If you're still having issues.  Feel free to reopen.

[2018-01-02 19:46] #48 closed

[2018-01-04 12:40] PhilETaylor commented on #49
Sorry for my delay - I forget the actual composer require command I used in the end but I had to pin a lot of the dependancies on older versions.

my output (trimmed) of `composer show -i` is:
[code]

and everything is working fine in Symfony v3.4.2

My biggest issue now will be migrating to Symfony 4 - but thats another major headache to come :)

[2018-01-04 17:39] frankadrian opened #72 "How to react to on client connect"
Hi,

Thanks so much for this easy to use bundle!
I have a very simple setup and would like to know if its possible to react to a client connecting to the default realm?
This is my config:

[code]

I would greatly appreciate any pointers 🙏

[2018-01-23 16:29] mbonneau commented on #72
@frankadrian You can have a client subscribe to `wamp.metaevent.session.on_join`.

[2018-01-23 17:08] momopaper opened #74 "anyway to know if there is a client disconnected from topic?"
is there anyway to let server capture it?

[2018-01-23 22:15] mbonneau commented on #74
If you are looking to track subscription lifecycles check out https://github.com/voryx/ThruwaySubscriptionMeta

[2018-01-24 02:35] momopaper commented on #74
thanks @mbonneau

[2018-01-24 02:35] #74 closed

[2018-02-09 22:05] mbonneau opened #75 "Catch WampErrorException to allow custom error messages"

[2018-02-15 14:57] ThePixelDeveloper opened #76 "Ticket Authentication"
Looking to implement something other than WAMP-CRA for a personal project and read about using [Authentication Tickets](https://github.com/wamp-proto/wamp-proto/blob/master/rfc/text/advanced/ap_authentication_ticket.md). I couldn't see it being possible with the current setup. Is it on the roadmap at all?

Happy to work on this and contribute back if you'd appreciate it.

Kind Regards,
-Mathew.

[2018-02-15 15:02] ThePixelDeveloper commented on #76
Actually having just closed this tab, it doesn't make a lot of sense being part of the bundle as most authentication methods are going to differ. Going to close this unless my opinion changes.

[2018-02-15 15:02] #76 closed

[2018-02-21 21:14] davidwdan commented on #71
If you want to test it out, the dev-master branch now supports symfony 4.

[2018-02-28 15:25] ThePixelDeveloper opened #78 "Support for prefix matching"
Currently there's no way of defining an annotation based subscription to support prefix matching. This code in the [WampKernel.php](https://github.com/voryx/ThruwayBundle/blob/master/src/Voryx/ThruwayBundle/WampKernel.php#L229-L238) doesn't support it. Can support be added for it? I have time to write a PR for it if that's of interest.

It'll potentially help resolve the following problems as well

[2018-02-28 15:31] davidwdan commented on #78
A PR would be great!

[2018-02-28 16:05] ThePixelDeveloper commented on #78
@davidwdan Submitted a PR. Would appreciate if you could take a look, thanks.

[2018-03-09 20:05] #78 closed

[2018-04-12 13:47] Hefarius opened #81 "Does JMS serializer is not allowed ?"
Hello,

I have this error message after updating version :
Type error: Argument 3 passed to Voryx\\ThruwayBundle\\Client\\ClientManager::__construct() must be an instance of Symfony\\Component\\Serializer\\Serializer, instance of JMS\\Serializer\\Serializer given

Can you have a solution for using JMS Serializer who allow group context and exclusion context ?
All of our application coree use JMS s

[2018-04-12 13:55] davidwdan commented on #81
If you want to use JMS serializer, you'll need to use version 0.2.0.  There might be a away to override the serializer in the current version, but I'm not 100%.

[2018-04-12 14:00] stingus commented on #81
ThruwayBundle switched to Symfony serializer a while ago (https://github.com/voryx/ThruwayBundle/commit/a0de46f647bd0ea62651c247ef53d4abe152c337). If you were counting on serialization groups provided by JMS in the controller annotations, I think the only way is to do the serialization yourself with JMS and return the results. At least, that's what I did.

[2018-04-16 07:42] arm1n commented on #81
It would be really great being able to make the choice about the used serializer on a per-project base. For my project it was impossible to stick to Symfony Serializer in conjunction with FOSRestBundle, but I like the approach [how serialization is handled in FOSRestBundle](http://symfony.com/doc/master/bundles/FOSRestBundle/1-setting_up_the_bundle.html#c-enable-a-serializer), so this would be a r

[2018-04-18 06:48] Boimb commented on #81
Ho... I feel so ashamed :/
You just make me realized that we're running a so old version ...
Gonna fix some others conflicts that we didn't see before too 👍
Great!
Cheers.
Boimb.

[2018-04-19 04:23] willbrid opened #82 "Thruway doesn't work when rpc was not registered"
Hi,
I'm new in Thruway bundle. For me, Thruway is really great and simple for getting started.

Please, i have a problem. I would like to handle this : when the rpc was not registered in the router, when called in a symfony controller, thruway no longer works and also symfony. So I have to restart.
(Symfony2.8)
Please, is there a way to handle this?

Thank you

[2018-04-23 10:55] ThePixelDeveloper opened #83 "How to get the client IP address in RPC call?"
Looking to get the client IP address as part of an RPC call, but having trouble resolving what's the correct. Any help is much appreciated, I need it as an argument for the RPC.

[2018-04-23 13:13] davidwdan commented on #82
Can you provide the exact steps (with code) for us to reproduce this issue?

[2018-04-23 13:18] davidwdan commented on #83
Within the RPC, you can access the `thruway.details` service, which will provide a [Detail](https://github.com/voryx/ThruwayBundle/blob/master/src/Voryx/ThruwayBundle/Details.php) object with additional details.

The ip address can be found in `$details->transport->transport_address`

[2018-04-23 18:04] willbrid commented on #82
Hi Thank you very for your reply.
I would like to make a rpc call defined on the client side (javascript), from the controller via a call. I would like to handle the case where the client is not connected. In this case the call rpc is called on an undefined channel. However when I do the test for this case, the rpc blocks and the project does not work anymore.
My ultimate goal is to be able to che

[2018-04-23 21:33] davidwdan commented on #82
You should be able to just return a promise:

[code]

[2018-04-24 07:33] willbrid commented on #82
Hi Thank you very much for your reply.

I tested your solution. my projet doesn't crash anymore but when i display this promise i have this with var_dump :

``
object(React\Promise\Promise)#575 (6) { ["canceller":"React\Promise\Promise":private]=> NULL ["result":"React\Promise\Promise":private]=> NULL ["handlers":"React\Promise\Promise":private]=> array(0) { } ["progressHandlers":"React\Promise\Pr

[2018-04-24 09:08] ThePixelDeveloper commented on #83
Managed to sort it out although it's not the most elegant solution.

1. Had to override the `preProcessAuthenticate` in my custom authentication provider to pull out the `transport_address` and set it on the `extra` attribute.

[code]

2. Ensure my RPC implements ContainerAwareInterface. Inject the `thruway.container` using setter injection and then use the following code to pull out the value fro

[2018-04-24 11:55] davidwdan commented on #82
A promise is a future value, so you can't var_dump it to see the values.  You can read more about how promises work here: https://github.com/reactphp/promise

Returning a promise should work.  If you only want to know if the rpc called failed or not, you can try something like this:

[code]

[2018-04-24 14:03] ThePixelDeveloper opened #84 "In memory user provider doesn't work."
Trying to configure the in memory user provider and have trouble getting it working / configured.

_thruway.yml_
[code]

_security.yml_

[code]

The problems arise from the Bundle extension. It's never able to find the service definition.

<img width="758" alt="screen shot 2018-04-24 at 15 00 37" src="https://user-images.githubusercontent.com/47728/39192124-6656071c-47d0-11e8-81bc-b5383a94dc8d.png

[2018-04-24 14:11] ThePixelDeveloper commented on #84
I've fixed this by removing the hasDefinition check. It's always going to resolve to false at that stage of compilation. Confirmed it's all working locally. Let me know if this is the correct change (I believe it is) and I'll create a PR.

[2018-04-24 14:27] ThePixelDeveloper commented on #84
Unfortunately I don't think you'll able to do it in the extension. It's only got access to what was loaded in the bundles `services.xml`. I'll have a dig around the Symfony documentation and see if there's a way to do it.

[2018-04-24 14:34] ThePixelDeveloper commented on #84
I think it can be accomplished with the following: https://symfony.com/doc/3.3/bundles/prepend_extension.html

I'll take it on and see if it's doable.

[2018-04-25 08:33] willbrid commented on #82
Hi Thank you very much for your reply.

Forgive me : but return a promise did not help me for my intention. Is there a way to have a state of this rpc call ? or to catch a response of callback ?

Thank you very much.

[2018-04-25 11:57] davidwdan commented on #82
The only way to return an async value is by returning a promise, which is what `$client->call($rpc, [])` returns.

What happened when you returned a promise?

[2018-04-26 08:07] willbrid commented on #82
Hi Thank you very much for your reply.

Nothing happen : i received a promise object. In fact i  would like to assign a value when a promise fails to allow me to trace this state in my controller. I would like to have something like this in my controller.

in php controller file
[code]

in php service file
[code]

And then in js file (with autobahn library), i have something like this :
[code]

So

[2018-04-26 12:24] davidwdan commented on #82
You're still trying to mix async and sync code.  This lib will allow you to block until the promise has resolved: https://github.com/clue/php-block-react

[code]

I'm going to close this issue because it doesn't appear to be a problem with the RPC.

[2018-04-26 12:24] #82 closed

[2018-04-26 13:30] Hefarius commented on #81
Thank you. The issue was solved.
Ticket can be closed.

[2018-05-02 09:18] arm1n opened #85 "How to connect client manager to current user session for exclusion/eligibility handling"
Hi there!

First of all thank you for efforts in setting up Thruway and this bundle for Symfony - the whole setup was easy and without any hassle. I'm facing an issue where I don't really know how to handle it correctly, let me describe my use case: I've setup the bundle including authentication and make use of both RPC and PubSub, whereas all clients are connected via JS from my angular applicati

[2018-05-02 14:10] davidwdan commented on #85
You'll need to include the wamp session id with the HTTP request and then exclude that id from your publish with `exclude => [$sessionId]`

[2018-05-02 15:04] arm1n commented on #85
Ok thanks for your quick response and help - as this was only a question I am going to close this one now!

[2018-05-02 15:04] #85 closed

[2018-05-02 20:08] #81 closed

[2018-05-04 15:31] ThePixelDeveloper commented on #83
Closing this as it's functionally resolved.

[2018-05-04 15:31] #83 closed

[2018-05-16 13:48] vincenzofa opened #86 "Attempted to load class "PawlTransportProvider" from namespace "Thruway\Transport". Did you forget a "use" statement for another namespace?"
why ? .  after starting the command to start the server.

[2018-05-16 13:54] davidwdan commented on #86
Depending on your circumstances, you have 3 ways you can fix this:

1. Install `thruway/pawl-transport`
2. Use `voryx/thruway-bundle:dev-master`
3. Install `voryx/thruway:0.3.10`

[2018-06-09 10:58] flyer90 opened #87 "Doesn't work with symfony 3.4"
After upgrading from symfony 3.3 to 3.4 I get his error:
_The parameter \"container.build_id\" must be defined._

Followed the stack trace and identified where this happens:
In **WampKernel.php**, function handleRPC, when it tries to **setControllerContainerUser**() it crashes when trying to get the repository.

Getting the repository results in calling this function
[code]
(in the appDevDebugProj

[2018-06-13 04:15] Webonaute opened #88 "Problem configuring ThruwayBundle with FosUser"
I need a little help. It make 2 night I try to figure out what am I doing wrong.

For the the purpose of the test, I open 2 commands line.
Than I run`bin/console thruway:router:start -vvv` to start the server.
Than when I try to run the worker, with `bin/console thruway:worker:start -vvv "default"` I got error message `wamp.error.not_authorized`.

Look like internal client is running anonymous use

[2018-06-14 13:38] Webonaute commented on #88
hum nvm external connection can connect using jwt token but but internal still get connection refused.

[2018-07-02 17:10] andreizemba opened #89 "Can I stop the process manager?"
Hi,

Is there a way to stop the thruway process manager? With `thruway:process stop` I can stop the router and workers but the process manager remains running?

I'm asking in the light of deployments when we want to restart the processes with the new code. How can I stop the already running process manager and start a new one?

[2018-07-12 09:31] #84 closed

[2018-10-04 16:45] DanielMaceira commented on #75
hi! did you achieve that?

[2018-11-22 12:46] gam6itko opened #90 "Packagist verison 1.0.x-dev is not actual."
Hello. Packagist contains old version 1.0.x-dev (2016-02-16 17:27 UTC). We recommend removing it.

[2018-11-26 14:51] #90 closed

[2018-11-26 14:53] davidwdan commented on #90
Thanks.  It's been removed

[2018-11-26 18:03] davidwdan commented on #87
@mwsv did you upgrade to 3.4 or is this a new install?

[2018-11-27 08:45] mwsv commented on #87
Thank you for your interest, it was update from 3.3 to 3.4 and ThruwayBundle was installed after that.

[2018-11-27 09:17] gam6itko commented on #90
It's still there.
https://packagist.org/packages/voryx/thruway-bundle#1.0.x-dev

[2018-11-27 13:40] davidwdan commented on #90
That's strange, I definitely removed it.  I just did it again.

[2018-11-27 13:45] davidwdan commented on #87
I'm not 100% sure, but I suspect it has something to do with the auto loader in your `app/console` or `bin/console` .

Try replacing:
[code]

With:

[code]

[2018-11-27 17:46] davidwdan commented on #87
We dug into this some more and were able to find this issue.  We'll have an update shortly.

[2018-11-27 17:49] #87 closed

[2019-01-08 13:22] karelVanGeerdeghom opened #92 "Implementing authentication issue"
Hey,

I've created a worker service as follows:

voryx.yaml:
    app.service.websocket.worker:
        class: App\Service\Websocket\Worker\WorkerService
        arguments:
            - '@thruway.client'
        tags: ['thruway.resource']

Class:
`<?php

namespace App\Service\Websocket\Worker;

use Voryx\ThruwayBundle\Annotation\Register;
use Voryx\ThruwayBundle\Annotation\Subscribe;
use Voryx\Thr

[2019-01-09 14:34] karelVanGeerdeghom commented on #92
K, yet more implementation: I can now register when client subscribes (with https://github.com/voryx/ThruwaySubscriptionMeta)

[code]

Still unable to publish and call from client

[2019-02-08 12:42] tacman opened #93 "Router not starting: more debug info witih -vvv"
Using Symfony 4.2, I've followed the installation instructions, the service is registered fine:
[code]

but when I go to start the router, worker or process, it stops with no information:

[code]

Nothing else is listening on 8080 or 8081, I'm using the default configuration for everything.  Any suggestions on how to debug this?

[2019-02-08 13:01] davidwdan commented on #93
What version of the Thruway Bundle and PHP are you using?

[2019-02-08 13:14] tacman commented on #93
I added "enable_logging: true" to voyrx.yaml and figured out my problem.  First, "making a go..."  sounds like it's trying to start but is unsuccessful.  It was actually working, but I tested using autobahn, and it was connecting to port 9000, and I didn't look carefully enough (until I got the logs).  Looks like it's working now!

PHP 7.2

thruway/client                           0.5.4

[2019-02-08 13:22] #93 closed

[2019-02-08 13:47] tacman opened #94 "Example without container"
Symfony 4 strongly discourages passing the container.  I'm trying to autowire the client in a Symfony 4 command, but can't quite figure out how to do it.  I've tried

[code]

Got an error about not being able to autowire,

[code]

 so I added  an alias in services.yaml:

[code]

But I think I'm passing in the Manager, not the Client, since there is no publish command.  Is it possible to autowire t

[2019-02-08 14:00] tacman commented on #94
Figured it out:

in services.yaml:
[code]

The constructor:

[code]

[2019-02-08 14:00] #94 closed

[2019-02-08 15:20] tacman opened #95 "configuring thruway to run on heroku"
I have an application running on heroku, and I'd like to integrate Thruway, it's working locally, but not sure how to configure it to run remotely.

The Procfile simply runs a worker in a dyno:
[code]

my configuration uses an environment variable to
[code]
the environment variable is set to the public port
[code]

Heroku only allows one free dyno, so I couldn't run the router and worker independe

[2019-03-07 23:43] asalisaf opened #96 "Correct parameter for PawlTrasnportProvider?"
Hello,
Is not it correct to pass "trusted_url" instead of "url" for PawlTransportProvider in ThruwayWorkerCommand class?

[2019-05-09 08:21] dark-matter-matters opened #97 "Use custom serializer to publish?"
Hello,
This bundle is pretty nice and is the only viable alternative to GOSWebSocketBundle.

My problem is the default serializer. I have a ciruclar reference in one of my entities, and Symfony's default serializer is not able to avoid it and throws an exception :

The problem occurs on my listener when I try to send the response :

[code]

My API uses JMSSerializer, and it's able to solve circula

[2019-05-09 17:45] valepu commented on #97
The tutorial is probably old. Thruwaybundle ditched JMS Serializer quite a few months ago.
Looking on the internet i've noticed there are ways to handle circular references with symfony serializer. This is the first result i found on google: https://stackoverflow.com/questions/44286530/symfony-3-2-a-circular-reference-has-been-detected-configured-limit-1

[2019-05-09 17:48] valepu commented on #97
In this issue: https://github.com/voryx/ThruwayBundle/issues/81 they discuss a workaround on how to use JMS serializer (serialize the object manually in your code and then publish the string, if i understood correctly)

[2019-06-04 12:01] dark-matter-matters opened #98 "Setting up simple token authentication"
Hello.
This bundle looks pretty nice but it lacks a bit of documentation imho. I'd be pleased to write some if I could know how it works.

I want to secure my WS connection using a token. I have already implemented the token system on my API, and the client has a token when it subscribes.
So all I need is to have access to the token sent by the client.

So far I tried to follow this tutorial, and

[2019-06-04 12:16] #97 closed

[2019-06-12 08:04] dark-matter-matters opened #99 "Publisher is not trusted"
Hello,
My issue seems very similar to this one : https://github.com/voryx/ThruwayBundle/issues/92.

I have the very same listener class as in this tutorial : http://voryx.net/getting-started-with-the-thruwaybundle-for-symfony/

services.yaml
[code]
thruway.yaml
[code]

When using my auth provider, the clientManager is not allowed to publish anymore. When there's no authentication, it works well.

[2019-06-12 08:09] dark-matter-matters commented on #92
Any update on this? I'm unable to publish too when I add authentication.

[2019-06-12 09:01] dark-matter-matters commented on #99
Ok so that's what I said, there's only a tiny config line missing. Not mentionned in the docs. Had to guess it with debug :
thruway.yaml
[code]
By default trusted url is 8080...

[2019-06-12 09:01] #99 closed

[2019-08-07 07:54] vasanth-kumar-m-y opened #100 "After upgrading to new release version 0.4.2 not publishing messages"
After upgrading to new release version 0.4.2 in symfony version 3.4 as Pawl Socket Connector as a Service is Added it's causing the issue where messages been published to wamp topics but is not connecting at all to the server.
If i remove the passing Socket Connector as a Service to PawlTransportProvider in ClientManager it will work..
`$client->addTransportProvider(new PawlTransportProvider($this

[2019-08-21 14:35] eloirobe commented on #100
me too

[2019-09-06 20:12] tezrik commented on #100
https://github.com/thruway/client/blob/532604ab58de1e271a368dae406685566c539c87/src/Peer/Client.php#L187

[2020-01-06 02:08] s001dxp opened #102 "publishing doesn't work"
I'm using Symfony 4.4
I created a project for testing and followed the example from the readme file.

I can publish to a topic from the browser and subscribe to it in symfony and see the results echoed to the terminal.

I can run an RPC call from the browser to a function in symfony without issue.

However, when I publish to a topic from symfony (one that I have subscribed to in the browser) nothi

[2020-01-06 18:12] s001dxp commented on #102
I solved this by following @vasanth-kumar-m-y in #100

[2020-01-06 19:51] #102 closed, assigned to nobody

[2020-02-06 18:48] djkoza opened #103 "How to declare many realms or routers?"
Hi,
I have some question, what is best solution to handle many routers or realms with ThruwayBundle?

I want to have something like this
eg.
Realm chat (with auth), Realm public chat (without auth)
or many routers.

How can I do that with ThruwayBundle?
(in main thruway package is so simple)

Thank you so much

[2021-11-11 22:14] vchapple17 opened #104 "Symfony >4 and accessing Details"
We're upgrading to Symfony 4 and beyond and are having issues accessing the ```thruway.details``` in our controller that has the RPC's method.

We get the error the service 'thruway.details' is not defined.

1) Is this a service that needs to be public inside the ThruwayBundle?
2) Alternatively, is there a workaround to get the ArgsKw, session, and authId inside the RPC call?

[code]

[2022-02-04 07:10] vasanth-kumar-m-y opened #105 "Throwing critical exception not publishing messages"
In version 0.4.2, symfony 3.4 on start of thruway bundle throwing critical exception
[code]